<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/moviesStyles.css">
    <title>Peliculas Recomendadas</title>
</head>

<body>
    <div class="bodyContainer">
        <a href="/movies" class="volver"> Inicio </a>
        <h1>PELICULAS RECOMENDADAS</h1>
        <ul>
            <% for (let i = 0; i < result.length; i++) {  %>
            <li>
                <a href="/movies/detail/<%= result[i].id %>"><%= result[i].title%> </a> (<%= result[i].rating%>)
            </li>
            <% } %>
        </ul>
    </div>
</body>

</html>